secrets.yaml
*.db
*.db-shm
*.db-wal
*.log
*.log.*
.storage/
.backup/
tts/
tmp/
www/community/

# espHome build/cache
esphome/.esphome/
esphome/*/.esphome/
esphome/archive/

# Home Assistant служебные файлы
.HA_VERSION
.ha_run.lock
.vscode/
*.backup
home-assistant.log*
blueprints/
custom_components/

# Временные файлы
sh
tart
tatus
