- id: '1766057409857'
  alias: '[Брудер] График освещения – ежедневно'
  description: ''
  triggers:
  - trigger: time
    at: 06:00:00
  conditions:
  - condition: state
    entity_id: input_text.brooder_state
    state: Освещение
  - condition: state
    entity_id: input_boolean.ruchnoi_rezhim
    state:
    - 'off'
  actions:
  - variables:
      day: '{{ ((as_timestamp(now()) - as_timestamp(states.input_datetime.lighting_start.state))
        / 86400) | int }}'
      on_hours: '{{ [24,22,20,18,16][ (day//2) if day < 10 else 4 ] }}'
  - target:
      entity_id: switch.waveshare001_relay_8
    action: switch.turn_on
  - delay: '{{ ''%02d:00:00''|format(on_hours) }}'
  - target:
      entity_id: switch.waveshare001_relay_8
    action: switch.turn_off
  mode: single
- id: '1766057944968'
  alias: '[Брудер] ИК – плановое отключение 1-2'
  description: ''
  triggers:
  - at: '{{ states(''input_datetime.ir_off_12'') }}'
    trigger: time
  conditions:
  - condition: state
    entity_id: input_boolean.ruchnoi_rezhim
    state:
    - 'off'
  actions:
  - target:
      entity_id: switch.waveshare001_relay_5
    action: switch.turn_off
  - data:
      message: ИК лампы 1-2 выключены (план).
    action: script.send_notify
  mode: single
- id: '1766058026091'
  alias: '[Брудер] ИК – плановое отключение 3-4'
  description: ''
  triggers:
  - at: '{{ states(''input_datetime.ir_off_34'') }}'
    trigger: time
  conditions:
  - condition: state
    entity_id: input_boolean.ruchnoi_rezhim
    state:
    - 'off'
  actions:
  - target:
      entity_id: switch.waveshare001_relay_6
    action: switch.turn_off
  - data:
      message: ИК лампы 3-4 выключены (план).
    action: script.send_notify
  mode: single
- id: '1766058050100'
  alias: '[Брудер] ИК – плановое отключение 5-6'
  description: ''
  triggers:
  - at: '{{ states(''input_datetime.ir_off_56'') }}'
    trigger: time
  conditions:
  - condition: state
    entity_id: input_boolean.ruchnoi_rezhim
    state:
    - 'off'
  actions:
  - target:
      entity_id: switch.waveshare001_relay_7
    action: switch.turn_off
  - data:
      message: ИК лампы 5-6 выключены (план).
    action: script.send_notify
  mode: single
- id: '1766058196532'
  alias: '[Брудер] Подогрев – контроль ТЭН1 → ТЭН2 ручной режим'
  description: ''
  triggers:
  - minutes: /5
    trigger: time_pattern
  conditions:
  - condition: state
    entity_id: switch.waveshare001_relay_1
    state: 'on'
  - condition: template
    value_template: '{{ (as_timestamp(now()) - as_timestamp(states.input_datetime.ten1_start_time.state))
      / 60 > 60 }}'
  - condition: template
    value_template: "{{ (states('sensor.waveshare001_rs485_temperature_10')|float
      -\n    states.input_datetime.ten1_start_temp.state|float) < 1 }}"
  - condition: state
    entity_id: input_boolean.ruchnoi_rezhim
    state:
    - 'off'
  actions:
  - target:
      entity_id: switch.waveshare001_relay_2
    action: switch.turn_on
  - delay: 01:00:00
  - data:
      message: ТЭН2 включён (температура не выросла за 60 мин).
    action: script.send_notify
  mode: single
- id: '1766058230787'
  alias: '[Брудер] Подогрев – ТЭН1 ТЭН2 ручной режим'
  description: ''
  triggers:
  - entity_id: input_text.brooder_state
    to: Подогрев
    trigger: state
  conditions:
  - condition: template
    value_template: '{{ states(''sensor.waveshare001_rs485_temperature_10'')|float
      < states(''input_number.min_temp'')|float }}'
  - condition: state
    entity_id: input_boolean.ruchnoi_rezhim
    state:
    - 'off'
  actions:
  - target:
      entity_id: switch.waveshare001_relay_1
    action: switch.turn_on
  - data:
      entity_id: input_datetime.ten1_start_time
      timestamp: '{{ now().timestamp() | int }}'
    action: input_datetime.set_datetime
  - data:
      entity_id: input_datetime.ten1_start_temp
      timestamp: '{{ states(''sensor.waveshare001_rs485_temperature_10'')|float }}'
    action: input_datetime.set_datetime
  - data:
      message: ТЭН1 включён. Температура {{ states('sensor.waveshare001_rs485_temperature_10')
        }}°C.
    action: script.send_notify
  mode: single
- id: '1766060224726'
  alias: '[Брудер] Освещение – включить при всех ИК off рр'
  description: ''
  triggers:
  - entity_id: sensor.all_ir_off
    to: 'true'
    trigger: state
  conditions:
  - condition: not
    conditions:
    - condition: state
      entity_id: input_text.brooder_state
      state: Ожидание
  - condition: state
    entity_id: input_boolean.ruchnoi_rezhim
    state:
    - 'off'
  actions:
  - data:
      entity_id: input_text.brooder_state
      value: Освещение
    action: input_text.set_value
  - target:
      entity_id: switch.waveshare001_relay_8
    action: switch.turn_on
  - data:
      entity_id: input_datetime.lighting_start
      timestamp: '{{ now().timestamp() | int }}'
    action: input_datetime.set_datetime
  - data:
      message: Освещение включено (все ИК выключены).
    action: script.send_notify
  mode: single
