# Loads default set of integrations. Do not remove.
default_config:

homeassistant:
  packages: !include_dir_named packages

frontend:
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

template:
  - sensor:
      - name: "Температура брудера"
        unique_id: brooder_temperature
        unit_of_measurement: "°C"
        device_class: temperature
        state: >
          {{ states('sensor.waveshare001_rs485_temperature_11') | float(0) }}

      - name: "Влажность брудера"
        unique_id: brooder_humidity
        unit_of_measurement: "%"
        device_class: humidity
        state: >
          {{ states('sensor.waveshare001_rs485_humidity_11') | float(0) }}
