# Home Assistant Configuration
# Минимальная базовая конфигурация

default_config:

homeassistant:
  packages: !include_dir_named packages

# Lovelace в режиме YAML (все настройки только через файлы)
lovelace:
  mode: yaml

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

