# Loads default set of integrations. Do not remove.
default_config:

homeassistant:
  packages: !include_dir_named packages

frontend:
  themes: !include_dir_merge_named themes

# Lovelace в режиме YAML (все настройки только через файлы)
lovelace:
  mode: yaml
  resources: !include_dir_merge_list lovelace_resources

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

template:
  - sensor:
      - name: "Температура брудера"
        unique_id: brooder_temperature
        unit_of_measurement: "°C"
        device_class: temperature
        state: >
          {% set temp = states('sensor.waveshare001_rs485_temperature_10') | float(0) %}
          {% if temp == 0 %}
            {{ states('sensor.waveshare001_rs485_temperature_11') | float(0) }}
          {% else %}
            {{ temp }}
          {% endif %}

      - name: "Влажность брудера"
        unique_id: brooder_humidity
        unit_of_measurement: "%"
        device_class: humidity
        state: >
          {% set h10 = states('sensor.waveshare001_rs485_humidity_10') | float(0) %}
          {% if h10 == 0 %}
            {% set h = states('sensor.waveshare001_rs485_humidity_11') | float(0) %}
          {% else %}
            {% set h = h10 %}
          {% endif %}
          {{ "%.1f"|format(h|round(1)) }}
