# Home Assistant Configuration
# Минимальная базовая конфигурация

default_config:

homeassistant:
  packages: !include_dir_named packages

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

input_number:
  min_humidity:
    name: Минимальная влажность Брудер 2
    min: 30
    max: 60
    step: 1
    unit_of_measurement: "%"
    mode: slider

  max_humidity:
    name: Максимальная влажность Брудер 2
    min: 40
    max: 80
    step: 1
    unit_of_measurement: "%"
    mode: slider

  humidity_delta:
    name: Разница влажности (max-min) Брудер 2
    min: 1
    max: 30
    step: 1
    unit_of_measurement: "%"
    mode: slider

modbus:
  name: WS14
  type: tcp
  host: 192.168.88.47
  port: 4196
  switches:
    - name: "Тэн 1"
      address: 1
      write_type: coil
      slave: 1
    - name: "Тэн 2"
      address: 2
      write_type: coil
      slave: 1
    - name: "Вентиляция"
      address: 3
      write_type: coil
      slave: 1
