substitutions:
  device_name: "ws14"
  device_comment: "WaveShare ESP32-S3-POE-ETH-30DI-30RO device"
  device_friendly: "ws14"

esphome:
  name: ${device_name}
  friendly_name: ${device_friendly}
  name_add_mac_suffix: false

esp32:
  board: esp32s3box
  flash_size: 16MB
  framework:
    type: arduino

logger:
  baud_rate: 0
  level: INFO

api:
  encryption:
    key: "wmi04erTdlvLehiCAHiw+23dEYPYRtzSEBTgb3mzqpQ="

ota:
  - platform: esphome
    password: "b8cbdfcd263091fcda6057ad7e27a91b"


ethernet:
  type: W5500
  clk_pin: GPIO15
  mosi_pin: GPIO13
  miso_pin: GPIO14
  cs_pin: GPIO16
  interrupt_pin: GPIO12

web_server:
   port: 80

i2c:
  sda: GPIO42
  scl: GPIO41
  frequency: 100kHz

pca9554:
  - id: tca9554
    address: 0x20
